* {
    padding: 0;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ff5c73;
}

.din {
    font-family: din-condensed;
    font-weight: 400;
    font-style: normal;
}

.global_padding {
    padding-left: 5%;
    padding-right: 5%;
    background-color: black;
}

.navbar {
    background-color: black;
    padding: 10px;
    display: flex;
}

.us_anchor_logo {
    width: 90%;
}

.navbar_logo_container {
    width: 25%;
}

.nav_text_container {
    margin: 0;
    padding: 0;
    width: 75%;
    justify-content: end;
    align-items: center;
}

.nav-list {
    display: flex;
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-text {
    padding: 0 10px 0 10px;
}
