* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ff5c73;
}

.din {
    font-family: din-condensed;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.global_padding {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: black;
}

/* *** NAVBAR *** */
.navbar {
    background-color: black;
    padding: 10px;
    display: flex;
}

.us_anchor_logo {
    width: 90%;
}

.navbar_logo_container {
    width: 25%;
}

.nav_text_container {
    margin: 0;
    padding: 0;
    width: 75%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-list {
    color: white;
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.nav-text {
    padding: 0 10px 0 10px;
    font-family: din-condensed;
}

.link_font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.link_font:hover {
    background-color: lightgray;
}

/* *** NAV DROPDOWN *** */

.dropdown_menu {
    float: left;
    overflow: hidden;
}

.dropdown_menu .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.dropdown_content {
    visibility: hidden ;
    position: absolute;
    background-color: gray;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: -1;
    list-style-type: none;
    margin-top: -1%;
    padding-top: 3.5%;
    right: 0px;
     -webkit-transition: opacity 1s, visibility 1s;
    -moz-transition: opacity 1s, visibility 1s;
    -ms-transition: opacity 1s, visibility 1s;
    -o-transition: opacity 1s, visibility 1s;
    transition: opacity 1s, visibility 1s;
    opacity: 0;
    width: 100%;
}

.dropdown_content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;

}

.dropdown_content a:hover {
    background-color: #ddd;
}

.dropdown_menu:hover .dropdown_content {
  visibility: visible;
    opacity: 1;
}

.show {
    display: block;
}

/**** MegaMenu ****/
.column {
    float: left;
    width: 33.33%;
}

.column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*** Blackbox ****/
